@using DemoTechEcommerceMVC.ViewModels
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="NewPassword"></label>
                <input class="form-control" asp-for="NewPassword" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmNewPassword"></label>
                <input class="form-control" asp-for="ConfirmNewPassword" />
                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <input class="btn btn-success w-100 p-2" type="submit" value="Submit" />
            <div class="text-center mt-2">
                <a class="text-decoration-none mt-3" asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}