@using DemoTechEcommerceMVC.ViewModels
@model VerifyEmailViewModel

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <input class="btn btn-success w-100 p-2" type="submit" value="Verify" />
            <div class="text-center mt-2">
                <a class="text-decoration-none mt-3" asp-controller="Home" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}